// Tipografias //
$primary-font: 'Plus Jakarta Sans';

// Colores //
$color-blue: #666CA3;
$color-blue-dark: #4851ff;
$color-black: #13183f;
$color-grey: #83869A;
$color-pink: #f74780;
$color-pink-light: #ffa7c3;
$color-orange: #ff6f48;
$color-magenta: #f02aa6;

$color-gradient-pink-orange: linear-gradient(180deg, $color-orange 0.04%, $color-magenta 100%);
$color-gradient-pink-blue: linear-gradient(180deg, $color-blue-dark 0.04%, $color-magenta 100%);

// Breakpoints //
$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1200px;
$bp-desktop-xl: 1440px;
