@use "abstracts/abstracts" as *;
@use "base/base";
@use "layout/layout";
@use "components/components";
@use "pages/pages";
@use "themes/themes";
@use "vendors/vendors";

body {
  background-color: $color-primary;
}

h1 {
  color: red;
  @include breakpoint(tablet) {
    color: green;
  }
  @include breakpoint(tablethorizontal) {
    color: yellow;
  }
  @include breakpoint(desktop) {
    color: white;
    text-align: center;
  }
}
