@use "../abstracts/mixins" as b;

body {
    @include b.breakpoint(tablet){
        background-image: url('../img/hero-img.png');
        background-repeat: no-repeat;
        background-position: 125% 0;
        background-size: 400px;
    }

    @include b.breakpoint(tablethorizontal){
        background-position: 114% 0;
        background-size: 500px;
    }
    @include b.breakpoint(desktop){
        background-position: 108% -9px;
        background-size: 500px;
    }
}