@use "../abstracts/mixins" as b;
@use "../abstracts/variables" as vr;

.container {
    padding-left: 16px;
    padding-right: 16px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    @include b.breakpoint(tablethorizontal){
        padding-left: 24px;
        padding-right: 24px;
    }
}