@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as b;

.hero {
    margin-bottom: 40px;
    @include b.breakpoint(tablethorizontal){
        margin-bottom: 130px;
    }
    &_title {
        margin-bottom: 26px;
        font-size: 40px;
        line-height: 51px;
        font-weight: 800;
    }

    &_subtitle {
        margin-bottom: 26px;
        color: $color-grey;
        line-height: 26px;
    }

    &_buttons {
        margin-bottom: 45px;
    }

    &_img {
        text-align: center;
        width: 80%;
        margin-left: 10%;
        position: relative;
        @include b.breakpoint(tablet){
            width: 50%;
            margin: 0;
        }
        @include b.breakpoint(tablethorizontal){
            height: 350px;
        }
        @include b.breakpoint(desktop){
            width: 400px;
        }
        
    }
    &_number {
        display: inline-block;
        width: max-content;
        background-color: white;
        color: $color-black;
        padding: 5px;
        gap: 10px;
        text-align: left;
        position: absolute;
        border-radius: 1rem;
        box-shadow:  0px 34px 54px 0px #06168D29;
        span {
            display: block;
        }
        &-title {
            font-size: 14px;
            color:$color-grey;
        }

        &-number{
            font-size: 32px;
            color: $color-black;
            font-weight: 800;
        }

        &-1{
            padding: 16px 40px 16px 20px;
            top: 0;
            right: 0;
            position: absolute;
            @include b.breakpoint(tablet){
                top: -118px;
                
            }
            @include b.breakpoint(tablethorizontal){
                top: 23px;
                right: 55px;
                
            }
            @include b.breakpoint(desktop){
                top: 85px;
                right: 20px;
            }

        }

        &-2 {
            padding: 16px 45px 16px 20px;
            bottom: 0;
            left: 0;
            position: absolute;
            @include b.breakpoint(tablet){
                left: 40px;
                bottom: -227px;
                
            }
            @include b.breakpoint(tablethorizontal){
                left: 95px;
                bottom: -104px;

                
            }
            @include b.breakpoint(desktop){
                left: -44px;
                bottom: -25px;

                
            }
        }

        
    }
    
    &_img-mobile {
        
        @include b.breakpoint(tablet){
            display: none;
            
        }
    }
    .container {
        @include b.breakpoint(tablet){
            display: flex;
            padding-bottom: 80px;
            justify-content: space-between;
            align-items: center;
            
        }
        @include b.breakpoint(tablethorizontal){
            padding-bottom: 50px;
            align-items: center;;
        }
        @include b.breakpoint(desktop){
            padding-bottom: 80px;
            align-items: center;;
        }


    }
    &_content {
        @include b.breakpoint(tablet){
            width: 50%;
            
        }
        @include b.breakpoint(tablethorizontal){
            width: 40%;
            
        }
        @include b.breakpoint(desktop){
            max-width: 439px;
        }
    }
}